[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group userid/Mateusz Winiszewski (184389)
[access "refs/for/refs/*"]
	read = group userid/Mateusz Winiszewski (184389)
	push = group userid/Mateusz Winiszewski (184389)
	label-Code-Review = -2..+2 group userid/Mateusz Winiszewski (184389)
	label-Verified = -1..+1 group userid/Mateusz Winiszewski (184389)
	rebase = group userid/Mateusz Winiszewski (184389)
	removeReviewer = group userid/Mateusz Winiszewski (184389)
	submit = group userid/Mateusz Winiszewski (184389)
[access "refs/heads/*"]
	read = group userid/Mateusz Winiszewski (184389)
	create = group userid/Mateusz Winiszewski (184389)
	push = +force group userid/Mateusz Winiszewski (184389)
	pushMerge = group userid/Mateusz Winiszewski (184389)
[access "refs/tags/*"]
	push = +force group userid/Mateusz Winiszewski (184389)
	createTag = group userid/Mateusz Winiszewski (184389)
	createSignedTag = group userid/Mateusz Winiszewski (184389)
